html,body{
  height: 100%;
}
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
/*chrome scroll */
*{
  &::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  &::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color:hsla(200, 4%, 58%, .3);
    transition:background-color .3s;
    &:hover{
      background: #bbb;
    }
  }
    &::-webkit-scrollbar-track{
      background:#EDEDED;
    }
  }
}
